<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>My Pokedex</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fontello.css">
   <link rel="shortcut icon" href="icon.png">
</head>
<body ng-app="app">

    <header>  
        <h1><a href='#'>My Pokedex</a></h1>  
        <nav>
        </nav>
    </header>
    <main>
        <section id='content'>
            <input type="text" ng-model="id" id="input" autofocus placeholder="Type a pokemon's name or id">
            <br/>
            <span class='button submit' ng-controller="pokemonCtrl" ng-click="click()">Submit <i class="icon-ok"></i></span>
        <div ng-view ng-controller="pokemonCtrl">    
         
        </div>    
        </section>
    </main>

    <footer>
        <section>
            © 2016 | <i class="icon-html5"></i> <i class="icon-css3"></i> 
        </section>
        <nav>
          <a href="#" title="g+"><i class="icon-gplus"></i></a>
          <a href="#" title="facebook"><i class="icon-facebook"></i></a>
          <a href="#" title="twitter"><i class="icon-twitter"></i></a>
      </nav>
  </footer>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script> 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
  <script type="text/javascript" src="app.js"></script>  

</body>
</html>