
<div id="pokeInfo" >
    <h2 ng-show="data.name">{{data.name | ucfirst}}</h2>
    <img id="sprite" ng-show="data.sprite" src="{{data.sprite}}" alt="sprite">
    <p ng-show="data.description">{{data.description}}</p>
    <p ng-show="data.height"><span class="type" >Height :</span> {{data.height}} m</p>
    <p ng-show="data.weight"><span class="type" >Weight :</span> {{data.weight}} kg</p>
    <p ng-show="data.types"><span class="type" >Types :</span> {{data.types}} .</p>
    <p ng-show="data.ability"><span class="type" >Abilitiers :</span> {{data.ability}} .</p>
    <p ng-show="data.attack"><span class="type" >Attacks :</span> {{data.attack}} .</p>
    <p id="stat" ng-show="data.stat">
        <span class="type" >Stats :</span>
        <p ng-show="data.stat" ng-repeat="stat in data.stat"> 
            <span class="type">{{stat.split(':')[0] | ucfirst}} </span> : {{ stat.split(':')[1] }}
        </p>
    </p>

    <p><span class='button favorite' ng-show="data.stat" ng-click="favorite()">Add to favorties <i class="icon-heart"></i></span></p>
</div> 
              
<div id="loader" ng-hide="hide">
    <img src="loadingCircle.gif" alt="loader" />
</div>

<div id="popup" ng-show="favDouble && !info"  ng-click="hideInfo()">
    <i class="icon-cancel-circled"></i>    
    <p><i class="icon-info-circled"></i> Pokemon already in favorites ! </p>
</div>

